@model ProyectoFinal.Models.Anteojo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anteojo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estilo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estilo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamaño.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamaño.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreModelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreModelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnteojoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
