@model IEnumerable<ProyectoFinal.Models.Anteojo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estilo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamaño.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreModelo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estilo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tamaño.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreModelo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnteojoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnteojoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnteojoId })
        </td>
    </tr>
}

</table>
